
@{
    ViewData["Title"] = "Productos";
}
 <main>


  <div class="container">
  <div class="row">
    <div class="col-4">
    <div class="b-example-divider"> <!--izquierda-->
</div>
  <div class="p-3 bg-white" style="width: 280px;">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Niños</span>
    </a>

      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Celebraciones</span>
    </a>

      <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">3D Flores</span>
    </a>

     <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Para Regalar</span>
    </a>
    
  </div>
  </div>
     

    <div class="col-6">
      <div class="d-flex justify-content-center"> <!--derecha-->
      
      <div class="p- bg-white" style="width: 280px;">

       <div class="container">
          <div class="row">
    <div class="col">
        <!--producto1-->
              <div class="col">
                <div class="card shadow-sm">
          <img src="~/img/producto1.jpg" class="card-img-top" alt="..." width="300" height="300" style="padding: 15%;">
                  <div class="card-body"style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;"><a href="#">Aesthetic</a><br><a href="#">S/.50</a></h5>  
                 <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                    
                    </div>
                  </div>
                </div>
              </div>
    </div>
    <div class="col order-5">
        <!--producto2-->
              <div class="col">
                <div class="card shadow-sm">
      
       <img src="~/img/producto2.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
                 <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;" ><a href="#">Amour Cake</a><br><a href="#">S/.250</a></h5>
            <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                   
                    </div>
                  </div>
                </div>
              </div>

    </div>

    <div class="col order-1">
      <!--producto3-->
              <div class="col">
               <div class="card shadow-sm">
       <img src="~/img/producto3.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
                 <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;" ><a href="#">Amour Cake</a><br><a href="#">S/.150</a></h5>
            <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
           
              
            
          
      <!--producto4-->
              <div class="col">
                <div class="card shadow-sm">
      <img src="~/img/producto4.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
                <div class="card-body"style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;"><a href="#">Baby blue</a><br><a href="#">S/.100</a></h5>
              <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <!--producto5-->
              <div class="col">
                <div class="card shadow-sm">
      
       <img src="~/img/producto5.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
                 <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;" ><a href="#">Beauty</a><br><a href="#">S/.80</a></h5>
             <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>

              <!--producto6-->
              <div class="col">
                <div class="card shadow-sm">
                  
      <img src="~/img/producto6.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
                <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;"><a  href="#">Baby</a><br><a href="#">S/.70</a></h5>
               <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
      <!--producto7-->
              <div class="col">
                <div class="card shadow-sm">
      <img src="~/img/producto7.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
                  <div class="card-body"style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;"><a href="#">Atrapa Sueños</a><br><a href="#">S/.50</a></h5>
              <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                 <!--producto8-->
                <div class="card shadow-sm">
      <img src="~/img/producto8.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
               <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;" ><a href="#">Baby yoda</a><br><a href="#">S/.120</a></h5>
               <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <!--producto9-->
           <div class="col">
                <div class="card shadow-sm">
      <img src="~/img/producto9.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
            <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;" ><a href="#">Baby yoda 3D</a><br><a href="#">S/.150</a></h5>
             <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <!--producto 10-->
               <div class="col">
                <div class="card shadow-sm">
      <img src="~/img/producto10.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
               <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;" ><a href="#">BB8</a><br><a href="#">S/.200</a></h5>
               <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--producto 11-->
               <div class="col">
                <div class="card shadow-sm">
      <img src="~/img/producto11.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
               <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;" ><a href="#">Purple box</a><br><a href="#">S/.200</a></h5>
               <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <!--producto 12-->
               <div class="col">
                <div class="card shadow-sm">
      <img src="~/img/producto12.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
               <div class="card-body" style="background: #FADBD8 ;">
              <h5 class="card-title" style="text-align: center;" ><a href="#">Boda</a><br><a href="#">S/.250</a></h5>
               <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>


              </div>
            </div>
          </div>
          </div>
  </div>
