@{
    ViewData["Title"] = "Productos";
}

<main>

  <!-- Bootstrap core CSS  <div class="d-flex justify-content-center">
<div class="p- bg-white" style="width: 280px;">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-5 fw-semibold">Collapsible</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        Home
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Overview</a></li>
          <li><a href="#" class="link-dark rounded">Updates</a></li>
          <li><a href="#" class="link-dark rounded">Reports</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Dashboard
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Overview</a></li>
          <li><a href="#" class="link-dark rounded">Weekly</a></li>
          <li><a href="#" class="link-dark rounded">Monthly</a></li>
          <li><a href="#" class="link-dark rounded">Annually</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Orders
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New</a></li>
          <li><a href="#" class="link-dark rounded">Processed</a></li>
          <li><a href="#" class="link-dark rounded">Shipped</a></li>
          <li><a href="#" class="link-dark rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
        Account
      </button>
      <div class="collapse" id="account-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New...</a></li>
          <li><a href="#" class="link-dark rounded">Profile</a></li>
          <li><a href="#" class="link-dark rounded">Settings</a></li>
          <li><a href="#" class="link-dark rounded">Sign out</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
-->
 <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
    <img src="~/img/producto1.jpg" class="card-img-top" alt="..." width="300" height="400" style="padding: 15%;">
            <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Aesthetic</a><br><a href="#">S/.200</a></h5>  
           <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
 <img src="~/img/producto2.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Amour Cake</a><br><a href="#">S/.350</a></h5>
      <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
             
              </div>
            </div>
          </div>
        </div>
        <div class="col">
         <div class="card shadow-sm">
 <img src="~/img/producto3.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Amour Cake</a><br><a href="#">S/.200</a></h5>
      <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto4.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
          <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Baby blue</a><br><a href="#">S/.150</a></h5>
        <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
 <img src="~/img/producto5.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Beauty</a><br><a href="#">S/.250</a></h5>
       <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto6.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
          <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a  href="#">Baby</a><br><a href="#">S/.120</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto7.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
            <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Atrapa Sueños</a><br><a href="#">S/.350</a></h5>
        <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto8.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Baby yoda</a><br><a href="#">S/.550</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
     <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto9.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
      <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Baby yoda 3D</a><br><a href="#">S/.800</a></h5>
       <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto10.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">BB8</a><br><a href="#">S/.750</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto11.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Purple box</a><br><a href="#">S/.350</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto12.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Boda</a><br><a href="#">S/.550</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  
  
</div>
</div>

</main>
