
@{
    ViewData["Title"] = "Productos";
}
<main>
  <div class="d-flex align-items-stretch">
   <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sidebars/">
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
 <!-- Custom styles for this template -->
    <link href="sidebars.css" rel="stylesheet">
  

<div  class="d-flex flex-row-reverse bd-highlight" style="background: #FADBD8;">
  
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link text-white">
        <ion-icon name="game-controller-outline" ></ion-icon>
        Niños
      </a>
    </li>
    <li>
      <a href="#" class=" nav-link text-white">
        <ion-icon name="game-controller-outline" ></ion-icon>
        niñas
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        
        bodas
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
      
        Elegante
      </a>
    </li>
  </ul>
  <hr>
<div class="b-example-divider"></div>
</div>


 <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
    <img src="~/img/producto1.jpg" class="card-img-top" alt="..." width="300" height="400" style="padding: 15%;">
            <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Aesthetic</a><br><a href="#">S/.200</a></h5>  
           <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
 <img src="~/img/producto2.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Amour Cake</a><br><a href="#">S/.350</a></h5>
      <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
             
              </div>
            </div>
          </div>
        </div>
        <div class="col">
         <div class="card shadow-sm">
 <img src="~/img/producto3.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Amour Cake</a><br><a href="#">S/.200</a></h5>
      <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto4.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
          <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Baby blue</a><br><a href="#">S/.150</a></h5>
        <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
 <img src="~/img/producto5.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Beauty</a><br><a href="#">S/.250</a></h5>
       <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto6.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
          <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a  href="#">Baby</a><br><a href="#">S/.120</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto7.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
            <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Atrapa Sueños</a><br><a href="#">S/.350</a></h5>
        <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto8.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Baby yoda</a><br><a href="#">S/.550</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
     <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto9.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
      <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Baby yoda 3D</a><br><a href="#">S/.800</a></h5>
       <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto10.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">BB8</a><br><a href="#">S/.750</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto11.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Purple box</a><br><a href="#">S/.350</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/producto12.jpg" class="card-img-top" alt="..."width="300" height="400"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Boda</a><br><a href="#">S/.550</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  
  
</div>
</div>

</main>


