@{
<<<<<<< HEAD
    ViewData["Title"] = "Accesorios";
}
<main>

  <div class="d-flex justify-content-center">
<div class="p- bg-white" style="width: 280px;">
</div>
 <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">



    <img src="~/img/a1.jpg" class="card-img-top" alt="..." width="300" height="300" style="padding: 15%;">
            <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Aesthetic</a><br><a href="#">S/.50</a></h5>  
           <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
              
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

 <img src="~/img/a2.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Amour Cake</a><br><a href="#">S/.250</a></h5>
      <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
             
              </div>
            </div>
          </div>
        </div>
        <div class="col">
         <div class="card shadow-sm">
 <img src="~/img/a3.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Amour Cake</a><br><a href="#">S/.150</a></h5>
      <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/a4.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
          <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Baby blue</a><br><a href="#">S/.100</a></h5>
        <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

 <img src="~/img/a5.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
           <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Beauty</a><br><a href="#">S/.80</a></h5>
       <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
<img src="~/img/a6.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
          <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a  href="#">Baby</a><br><a href="#">S/.70</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/a7.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
            <div class="card-body"style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;"><a href="#">Atrapa Sueños</a><br><a href="#">S/.50</a></h5>
        <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<img src="~/img/a8.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Baby yoda</a><br><a href="#">S/.120</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
     <div class="col">
          <div class="card shadow-sm">
<img src="~/img/a9.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
      <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Baby yoda 3D</a><br><a href="#">S/.150</a></h5>
       <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/a10.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">BB8</a><br><a href="#">S/.200</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/a11.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Purple box</a><br><a href="#">S/.200</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
<img src="~/img/a12.jpg" class="card-img-top" alt="..."width="300" height="300"style="padding: 15%;">
         <div class="card-body" style="background: #FADBD8 ;">
        <h5 class="card-title" style="text-align: center;" ><a href="#">Boda</a><br><a href="#">S/.250</a></h5>
         <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">+ Carrito</button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  
  
</div>
</div>

</main>
=======
    ViewData["Title"] = "Home Page";
}

<div class="carrusel">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/img/imagen1.jpg" alt="First slide" width="300" height="500">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/img/imagen2.jpg" alt="Second slide"width="300" height="500">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="~/img/imagen3.jpg" alt="Third slide"width="300" height="500">
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="~/img/imagen4.jpg" alt="Third slide"width="300" height="500">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
>>>>>>> 389abc29775171a189950bb9f35ffdf33a83e9b3
